<!DOCTYPE html>
{% extends "base.html" %}
{% block header %}
<html lang="en">
<head>
    <title>My Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<iframe height="1000px" width="80%" src="https://replit.com/@RohanNallapati/BUBBLESORT?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
<br>
<body>
<iframe height="1000px" width="80%" src="https://replit.com/@JasonFrancisco/Bubble-Sort?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
<br>
<body>
<iframe height="1000px" width="80%" src="https://replit.com/@iBraskyy/bubblesort?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
<br>
<body>
<iframe height="1000px" width="80%" src="https://replit.com/@JasonFrancisco/Riv?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
<br>
</html>
{% endblock %}