{% extends 'base.html' %}
{% block content %}

<style>
.button {
  background-color: Crimson;
  border: none;
  color: white;
  padding: 200px 800px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: Crimson; border-radius: 30px;}
.button2 {background-color: LightSalmon; border-radius: 30px;}
.button3 {background-color: SeaGreen; border-radius: 30px;}
.button4 {background-color: MidnightBlue; border-radius: 30px;}


</style>


<button class="button button1" onclick="s=prompt('Copy This Coupon Code','GM9238GMIGE');">20% OFF ON ANY SHIRT</button>

<button class="button button2" onclick="s=prompt('Copy This Coupon Code','M0B934JF09');">BUY ONE BASKETBALL GET ONE FREE</button>

<button class="button button3" onclick="s=prompt('Copy This Coupon Code','WAJM2389J9F');">25% OFF ON ANY ORDER OVER 100$</button>

<button class="button button4" onclick="s=prompt('Copy This Coupon Code','PB0983U49TM');">10% OFF ON ANY PAIR OF SHOES</button></code>

{% endblock %}