{% extends "base.html" %}
{% block header %}

<html>
<head>

  <p>Gorillas- There are two species, the Eastern Gorilla and the Western Gorilla, and they both have two subspecies. Three out of four are Critically Endangered on the IUCN Red List of Threatened Species. One type of Gorilla known as Mountain Gorillas lives high in the steep mountain forests of four different national parks in Africa in Uganda, Rwanda, and Congo. But the sad part is there are only around 150 to 180 adult Mountain Gorillas left in the wild. They mostly die because of poaching, habitat loss, disease, and human conflict.
Javan Rhino-  The Javan rhino is the closest to extinction with only between 46 to 66 individuals left, all of which are in Ujung Kulon National Park in Indonesia. What causes the Javan Rhino to die is the hunters since the horn of the Javan Rhino is very expensive and they can sell for up to $30,000 per kg on the black market.
Snow Leopard- The largest populations are in China and Mongolia, with significant populations in India and Kyrgyzstan, but since these animals mainly depend on domestic animals, farmers in many areas shoot them down, which causes so many of them to die. Another reason they die is because of the remote mountainous terrain. Overall because of the farmers and the terrain, less than  6,500 Snow Leopards remain in the wild.
Saola- The Saola is one of the rarest large mammals on Earth. It was first discovered in 1992 in the Annamite Range in Vietnam. It is so rare that it was only in 1992 and since then has only been photographed three times in the wild. They are known as the Asian unicorns.  Loss of habitat is the main threat to their survival, but it is unknown on how many exist.
 North Atlantic Right Whale-  They are gentle giants that stay close to coasts and spend a lot of time at the surface skim feeding on zooplankton, all of which makes them an easy target and the ‘right whale to hunt’. They were almost wiped out by hunters after their meat and oil-rich fat known as blubber, and are now one of the most endangered large whales. Only 400 of them are left so far and their biggest threat is the hunters, boat strikes, entanglement in fishing gear, and food. Food is a threat because of climate change and changing sea temperatures affect the food availability, which affects their rates of survival.
Tasmanian devil- Between 1996 and 2008, the population of Tasmanian devils dropped some 60% due to contagious cancer known as Devil Facial Tumour Disease. It continues to decimate populations of the species, which only occurs on the Australian island of Tasmania. Because of this Disease, there are fewer than 10,000 Tasmanian Devil remaining.


Gharial- Gharials are fish-eating crocodiles from India, but ever since 1930s their numbers have been decreasing and because of that, there are only  100 to 300 left in the wild. Their decline is due to several issues, though all human-made. Habitat loss, pollution and entanglement in fishing nets pose some of the biggest threats, along with poachers that target them for use in traditional medicine.
Kakapo- Kakapos are nocturnal ground-dwelling parrots from New Zealand, and yet another example of an animal brought to the edge of extinction by humans. They are critically endangered with only around 140 individuals remaining.They were once common throughout New Zealand and Polynesia but now inhabit just two small islands off the coast of southern New Zealand. One of the main threats to Kakapos is predation from introduced species such as cats and stoats that hunt using scent.
Amur Leopard- Amur leopards are one of the world’s most endangered big cats. They are as Critically Endangered on the IUCN Red List of Threatened Species, and between 2014 and 2015, there were only around 92 Amur leopards left within their natural range. That number is now estimated to be less than 70. Like all species on our endangered list, humans are their biggest threat. Their beautiful coats are popular with poachers as are their bones which they sell for use in traditional Asian medicine. They are also at risk from habitat loss due primarily to natural and human-made fires. Climate change is also changing Amur leopard habitat and leading to a decrease in prey availability.
Vaquita- The vaquita is both the smallest and the most endangered marine mammal in the world. It has been classified as Critically Endangered by the IUCN since 1996, and in 2018, there were only around 6 to 22 vaquitas left. Their biggest threat is from the illegal fishing of totoaba, a large fish in demand because of its swim bladder. Vaquitas accidentally end up entangled in the gillnets set for totoaba and drown because they can no longer swim to the surface to breathe.</p>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 50px;
  left: 16px;
  font-size:120px;
  color:magenta;

}

.top-left2 {
  position: absolute;
  top: 120px;
  left: 16px;
  font-size:60px;
  color:pink;

}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
}
</style>
    </head>


    <div>
        <img src= "https://i0.wp.com/images.onwardstate.com/uploads/2016/05/giphy-gif-11.gif?fit=500%2C375&ssl=1" style = "position: fill; width: 1535px; height: 650px" alt=HELLO>
        <div class="top-left">All files</div>

    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">

</head>



<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          {% block head %}
          {% endblock %}
</head>

<body>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<body style=" background-color:green">


<!--<p style = "color:turquoise ; width:500px ; height:100px ; font-size:50px;">Shekar's Website</p>-->
<h1 style = "color:white ; height:130px ; right: 50px ; font-family: Brush Script MT, Brush Script Std, cursive ; text-align: center ; margin-right:center ; width:1420px ; font-size:70px ; padding-top: 20px" > <u>External animal resource pages:</u></h1>


<!--https://playground.shekark642.repl.run https://repl.it/@shekark642/playground?lite=true-->

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UiFjONQDHNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: Big Cats<form method="get" action="https://www.nationalgeographic.com/animals/mammals/facts/big-cats-1"> <button type="submit">Visit</button> </form> </h1>


<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V3auPw3Ee3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: primates<form method="get" action="https://animaldiversity.org/accounts/Primates/"> <button type="submit">Visit</button> </form> </h1>

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TwVAMry3SQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: Fish<form method="get" action="https://www.britannica.com/animal/fish"> <button type="submit">Visit</button> </form> </h1>






{% endblock %}



