{% extends "base.html" %}
{% block header %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 50px;
  left: 16px;
  font-size:60px;
  color:magenta;

}

.top-left2 {
  position: absolute;
  top: 120px;
  left: 16px;
  font-size:60px;
  color:pink;

}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .button {
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
}
</style>
    </head>


    <div>
        <img src= "https://i0.wp.com/images.onwardstate.com/uploads/2016/05/giphy-gif-11.gif?fit=500%2C375&ssl=1" style = "position: fill; width: 1535px; height: 650px" alt=HELLO>
        <div class="top-left">All files</div>

    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">

</head>



<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          {% block head %}
          {% endblock %}
</head>

<body>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<body style=" background-color:green">


<!--<p style = "color:turquoise ; width:500px ; height:100px ; font-size:50px;">Shekar's Website</p>-->
<h1 style = "color:white ; height:130px ; right: 50px ; font-family: Brush Script MT, Brush Script Std, cursive ; text-align: center ; margin-right:center ; width:1420px ; font-size:70px ; padding-top: 20px" > <u>Personal Repositories:</u></h1>


<!--https://playground.shekark642.repl.run https://repl.it/@shekark642/playground?lite=true-->

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UiFjONQDHNM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: Big Cats<form method="get" action="https://www.nationalgeographic.com/animals/mammals/facts/big-cats-1"> <button type="submit">Visit</button> </form> </h1>


<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V3auPw3Ee3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: primates<form method="get" action="https://animaldiversity.org/accounts/Primates/"> <button type="submit">Visit</button> </form> </h1>

<div class="row justify-content-center" style="margin-top: 1vw;">
    <div class="col-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TwVAMry3SQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
</div>
<h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see webpage: Fish<form method="get" action="https://www.britannica.com/animal/fish"> <button type="submit">Visit</button> </form> </h1>






{% endblock %}


