{% extends "base.html" %}

{% block head %}
{% endblock %}


<!-- Styling for tiger background with font colors  -->
{% block title %}
<div class="module">
    <div style="color: white;text-align:center; font-size: 60px; padding-bottom: 30px">
        <h1>P3 Prophets Minilabs</h1>
    </div>
</div>

<div id="docs" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center; color: white;">

                <form method="get" action="/testimonial"> <button type="submit" style="font-size: 20px; position: center; font-family: 'Times New Roman';">Sam</button> </form>
                <form method="get" action="/testimonial"> <button type="submit" style="font-size: 20px; position: center; font-family: 'Times New Roman';">Shekar</button> </form>
                <form method="get" action="/testimonial"> <button type="submit" style="font-size: 20px; position: center; font-family: 'Times New Roman';">Jason</button> </form>
                <form method="get" action="/testimonial"> <button type="submit" style="font-size: 20px; position: center; font-family: 'Times New Roman';">Rohan</button> </form>
                <form method="get" action="/testimonial"> <button type="submit" style="font-size: 20px; position: center; font-family: 'Times New Roman';">Rohan</button> </form>


</div>
{% endblock %}